h1 {
  font-family: "Lobster";
}

body {
  background: linear-gradient(to bottom left, #615dad, #ffc8da);
  height: 100vh;
  margin: 0;
}

h1,
p {
  color: #ffffff;
}

.piskvorky {
  display: flex;
  flex-direction: column;
  width: 270px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: #283e50;
  border-radius: 10px;

}

img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.piskvorky__text {
  text-align: center;
}
